<main>
  <section class="">
    <article class="flex-row justify-center align-center">
      <div class="data-web">
        <span>Ian</span>
        <span>Front-End</span>
        <span>Developer</span>
      </div>
      <div class="flex-column align-center">
        <span class="title web">&lt;<span>Hello</span>&gt; </span>
        <span class="title web">&lt;/<span>World</span>&gt;</span>
      </div>
    </article>
    <article id="left-container" class="flex-row justify-center">
      <span>Front-end Developer</span>
    </article>
  </section>
  <section class="">
    <article class="flex-row justify-center align-center">
      <div class="data-design">
        <span>Montes</span>
        <span>Graphic</span>
        <span>Designer</span>
      </div>
      <div class="flex-column align-center">
        <span class="title design">Light </span>
        <span class="title design brush">is my brush</span>
      </div>
    </article>
    <article id="right-container" class="flex-row justify-center align-center">
      <span>Front-end Developer</span>
    </article>
  </section>
</main>
