<main>
  <section class="">
    <article class="flex-row justify-center align-center">
      <div class="data-web flex-column align-end">
        <span>Ian</span>
        <span>Front-End</span>
        <span>Developer</span>
      </div>
      <div class="flex-column align-center">
        <span class="title web">&lt;<span>Hello</span>&gt; </span>
        <span class="title web">&lt;/<span>World</span>&gt;</span>
      </div>
    </article>
    <article id="left-container" class="flex-row justify-center">
      <span>Front-end Developer</span>
    </article>
  </section>
  <section class="">
    <article class="flex-row justify-center align-center">
      <div class="data-design">
        <span>Montes</span>
        <span>Graphic</span>
        <span>Designer</span>
      </div>
      <div class="flex-column align-center">
        <span class="title design">I don't know.. </span>
        <span class="title design brush">That looks 1px off</span>
      </div>
    </article>
    <article
      id="right-container"
      class="flex-column align-center gap1 margin-top2"
    >
      <div class="flex-row gap2">
        <img class="img-portrait" src="https://picsum.photos/200" alt="" />
        <div class="flex-column gap1 min-content">
          <div class="flex-row gap2">
            <div class="flex-row gap2">
              <div class="flex-row gap1 align-center min-content margin-top1">
                <span class="name">Ian Montes</span>
                <span class="btn">Email</span>
                <span class="name">...</span>
              </div>
            </div>
          </div>
          <div class="flex-row gap2">
            <span>3 años de experiencia en diseño gráfico</span>
            <span>1 proyecto real</span>
            <span></span>
          </div>
          <div class="flex-column gap04">
            <span class="subtitle">Front-End Developer - Graphic Designer</span>
            <span>⚡ Adding UI/UX design value to any project</span>
            <span>❤️ Figma and Adobe Suite ❤️</span>
            <span
              >🎓 Certicate of higher education: Superior technician in Artistic
              Photography and Laboratory 📸</span
            >
            <b>📌 School of Arts and Design of Gran Canaria</b>
          </div>
        </div>
      </div>
      <div class="flex-row gap2 min-content align-start">
        <div class="flex-column align-center gap04 min-content">
          <img class="img-tech" src="https://picsum.photos/200" alt="" />
          <span class="subtitle-small">Figma</span>
        </div>
        <div class="flex-column align-center gap04 min-content">
          <img class="img-tech" src="https://picsum.photos/200" alt="" />
          <span class="subtitle-small">Figma</span>
        </div>
        <div class="flex-column align-center gap04 min-content">
          <img class="img-tech" src="https://picsum.photos/200" alt="" />
          <span class="subtitle-small">Figma</span>
        </div>
        <div class="flex-column align-center gap04 min-content">
          <img class="img-tech" src="https://picsum.photos/200" alt="" />
          <span class="subtitle-small">Figma</span>
        </div>
      </div>
      <div class="flex-row justify-center width80 padding1">
        <div class="flex-row wrap gap2 justify-center">
          <img class="img-post" src="https://picsum.photos/300" alt="" />
          <img class="img-post" src="https://picsum.photos/300" alt="" />
          <img class="img-post" src="https://picsum.photos/300" alt="" />
          <img class="img-post" src="https://picsum.photos/300" alt="" />
          <img class="img-post" src="https://picsum.photos/300" alt="" />
          <img class="img-post" src="https://picsum.photos/300" alt="" />
          <img class="img-post" src="https://picsum.photos/300" alt="" />
        </div>
      </div>
    </article>
  </section>
</main>
