<main>
  <h2>Main page</h2>
  <form [formGroup]="profileForm">
    <label for="first-name"
      >First Name:
      <input id="first-name" type="text" formControlName="firstName"
    /></label>

    <label for="last-name"
      >Last Name: <input id="last-name" type="text" formControlName="lastName"
    /></label>

    <label for="career"
      >Career: <input id="career" type="text" formControlName="career"
    /></label>

    <label for="description"
      >Description:
      <textarea id="description" formControlName="description"></textarea>
    </label>

    <label for="email"
      >Email: <input id="email" type="email" formControlName="email"
    /></label>

    <label for="phone-number"
      >Phone number:
      <input id="phone-number" type="number" formControlName="phoneNumber"
    /></label>

    <section>
      <article>
        <input id="python" type="checkbox" formControlName="python" />
        <label for="python"><i class="fa-brands fa-python"></i></label>
      </article>
      <article>
        <input id="java" type="checkbox" formControlName="java" />
        <label for="java"><i class="fa-brands fa-java"></i></label>
      </article>
      <article>
        <input id="js" type="checkbox" formControlName="js" />
        <label for="js"><i class="fa-brands fa-js"></i></label>
      </article>
      <article>
        <input id="angular" type="checkbox" formControlName="angular" />
        <label for="angular"><i class="fa-brands fa-angular"></i></label>
      </article>
      <article>
        <input id="vuejs" type="checkbox" formControlName="vuejs" />
        <label for="vuejs"><i class="fa-brands fa-vuejs"></i></label>
      </article>
      <article>
        <input id="react" type="checkbox" formControlName="react" />
        <label for="react"><i class="fa-brands fa-react"></i></label>
      </article>
      <article>
        <input id="node-js" type="checkbox" formControlName="nodejs" />
        <label for="node-js"><i class="fa-brands fa-node-js"></i></label>
      </article>
      <article>
        <input id="php" type="checkbox" formControlName="php" />
        <label for="php"><i class="fa-brands fa-php"></i></label>
      </article>
      <article>
        <input id="swift" type="checkbox" formControlName="swift" />
        <label for="swift"><i class="fa-brands fa-swift"></i></label>
      </article>
      <article>
        <input id="html5" type="checkbox" formControlName="html5" />
        <label for="html5"><i class="fa-brands fa-html5"></i></label>
      </article>
    </section>
    <label class="btn"
      >Select image
      <input type="file" (change)="onUpload($event, 'profile.png')" />
    </label>
    <div class="container">
      <ng-container *ngFor="let image of profilePic">
        <ng-container *ngIf="image.includes('profile')">
          <div class="imgContainer">
            <img [src]="image" alt="" />
            <span class="btn" (click)="onDelete(image)">Delete</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
</main>
