<main>
  <h2>Main page</h2>
  <form [formGroup]="profileForm">
    <label for="first-name"
      >First Name:
      <input id="first-name" type="text" formControlName="firstName"
    /></label>

    <label for="last-name"
      >Last Name: <input id="last-name" type="text" formControlName="lastName"
    /></label>

    <label for="career"
      >Career: <input id="career" type="text" formControlName="career"
    /></label>

    <label for="description"
      >Description:
      <textarea id="description" formControlName="description"></textarea>
    </label>

    <label for="email"
      >Email: <input id="email" type="email" formControlName="email"
    /></label>

    <label for="phone-number"
      >Career:
      <input id="phone-number" type="number" formControlName="phoneNumber"
    /></label>

    <section>
      <article></article>
      <label for="python"><i class="fa-brands fa-python"></i></label>

      <input id="python" type="checkbox" formControlName="python" />
    </section>
    <label class="btn"
      >Select file
      <input type="file" (change)="onUpload($event, 'profile.png')" />
    </label>
  </form>
</main>
