@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --light-color: #accddb;
  --medium-color: #8acce9;
  --dark-color: #60abcb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
